/* --- MAIN --- */
* {
    margin: -100px auto 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

h1, h2, h3 {
    font-family: 'Fira Mono', monospace;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

h4, h5 {
    font-weight: 700;
    letter-spacing: 0.05em;
}

.date {
    font-style: italic;
}

a, span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.yellow {
    color: #f2b00a;
}

.bold {
    font-weight: 700;
}

.purple {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #b688d7;
}

ul {
    list-style-type: none;
}

.social-link a i {
    transition: all 0.2s ease;
}

.social-link a i:hover {
    color: #b688d7;
}

.main-container {
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    max-width: 1600px;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 8vh;
}

section .hyperlink {
    color: #b688d7;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.section-description {
    margin: 50px auto 0 auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

.page-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}



/* --- HEADER --- */
header {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    z-index: 2;
    background-color: #000000;
}

.nav-menu {
    list-style-type: none;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    left: 0;
}

.nav-item {
    text-align: center;
    /* display: none; */
}

.nav-item-current a{
    display: block;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #f2b00a;
    text-transform: uppercase;
}


.nav-item a {
    display: block;
    padding: 10px;
    font-weight: 700;
    width: 100vw;
    letter-spacing: 0.1em;
    transition: all 0.2s ease;
    text-decoration: none;
}

.nav-item a:hover, .nav-item a:focus {
    color: #b688d7;
    text-decoration: underline;
}

.nav-item a:hover, .nav-item a:focus {
    color: #b688d7;
    text-decoration: underline;
}





/* --- LANDING PAGE --- */

#home {
    margin: -100px auto 0 auto;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.landing-page-details {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-socials ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.landing-page-socials ul li a i {
    font-size: 1.5em;
    padding: 10px;
    margin: 0 5px;
}

.small-title {
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.big-title {
    margin: 0;
    text-align: left;
    font-weight: 700;
    font-size: 2.75em;
    letter-spacing: 0;
    color:#b688d7;
}

.my-name {
    letter-spacing: 0.1em;
    font-family: 'Fira Code', monospace;
}

h3 {
    margin: 5px 0 0 0;
    text-align: left;
}

h3 em {
    color: white;
    letter-spacing: 0.05em;
}

h3 a:hover {
    color: #f2b00a;
    text-decoration: underline;
}

.short-bio {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.short-bio p {
    margin-top: 25px;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

.cta-container {
    margin: 0 auto;
}

.cta {
    display: flex;
    text-align: center;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 12px;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #1D263B;
    background-color: #FFFFFF;
    margin-top: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cta img {
    height: 25px;
    width: 25px;
}

.cta span {
    margin-left: 10px;
    color: #1D263B;
    font-weight: 700;
}

.email-button {
    border: 1px solid #b688d7;
    background-color: #b688d7;
}

.cta:hover {
    border: 1px solid #f2b00a;
    background-color: #f2b00a;
    padding: 10px 20px;
}

.art-me {
    display: none;
    height: 300px;
}

.art-me img {
    padding: 0 60px 0 0;
    width: 300px;
}



/* --- PROFILE --- */

#profile {
    padding-top: 150px;
}

.profile-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me-icon-container {
    width: 200px;
    height: auto;
    object-fit: contain;
    text-align: center;
}

.me-icon {
    height: 100%;
    width: 100%;
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* --- EDUCATION & EXPERIENCE --- */

.education-experience-container h3 {
    margin-bottom: 50px;
}

#experience {
    margin-top: 50px;
}

.education-experience-card {
    margin-top: 25px;
}

.card-info p {
    margin-top: 0.35em;
    line-height: 140%;
}


.card-description {
    margin: 15px 0 0 15px;
    line-height: 140%;
}

.card-description p:not(:first-child) {
    margin-top: 0.35em;
}

.card-description p::before {
    content: ">\A0";
    color: #f2b00a;
    font-weight: 700;
}

.card-description h5:not(:first-child) {
    margin-top: 10px;
}



/* --- PROJECTS--- */

.projects {
    display: inline-flex;
    padding-top: 150px;
    max-width: 1200px;
}

.project-cards-container {
    margin-top: 50px;
    height: fit-content;
    height: -moz-fit-content;
}

.card {
    display: inline-flex;
    flex-direction: column;
    color: #1D263B;
}

.card:not(:last-child) {
    margin: 0 auto 2em auto;
}

.card-preview-img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    background-color: white;
}

.project-card-info {
    padding: 16px 20px 21px 20px;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}

.has-no-preview .card-info {
    border-radius: 10px;
}

.title-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #1D263B;
}

.project-skills span {
    color: #b688d7;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.05em;
}

.project-skills span:not(:last-child) {
    margin-right: 10px;
}




/* --- PHOTO GALLERY--- */
.photos{

padding-top: 150px;

}
.photo-grid-container {
    display: grid;
    margin: 50px auto;
    column-count: 2;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.4em;
    align-items: center;
}

.photo-container {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.4em;
}

.photo-container img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* --- FOOTER --- */
.footer-container {
    border-top: 1px solid #FFFFFF;
    margin: 50px auto;
    padding-top: 50px;
}

.footer {
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.footer-column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.socials {
    margin: 10px 0;
}

.socials ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}

.socials ul li:not(:last-child) {
    margin-right: 12px;
}

.socials ul li a i {
    font-size: 1.5em;
}

.copyright {
    margin-top: 5px;
    letter-spacing: 0.05em;
}





/* --- VIEWS --- */

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2em;
    }
    .big-title {
        font-size: 3.5em;
    }
    .short-bio {
        max-width: 90%;
    }
    .art-me {
        display: block;
    }
    #home {
        flex-direction: row;
    }
    .landing-page-socials ul {
        flex-direction: column;
    }
    .landing-page-socials ul li a i {
        margin: 5px 0;
    }
    .email-container {
        margin: 0;
    }
    #education-experience {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .education-experience-container {
        width: 48%;
    }
    #experience {
        margin-top: 0;
    }
    .section-description {
        margin: 50px 10% 0 10%;
    }

    .nav {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu {
        position: relative;
        align-items: center;
        flex-direction: row;
        background-color: #000000;
        height: fit-content;
        height: -moz-fit-content;
    }
    .nav-item {
        position: relative;
        display: block;
        width: fit-content;
        width: -moz-fit-content;
        margin: 0;
    }
    .nav-item a {
        width: fit-content;
        width: -moz-fit-content;
        color: #FFFFFF;
    }

    .footer {
        margin: 0 auto;
        padding: 0 25px;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1600px;
    }

    .photo-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
        column-count: 3;
    }

    .project-cards-container {
        column-count: 2;
        column-gap: 2em;
    }
}

@media only screen and (min-width: 1000px) {
    #home {
        gap: 10%;
    }
    .profile-container {
        margin: 50px auto 0 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .me-icon-container {
        width: 300px;
        height: auto;
    }
    .education-experience-card {
        display: flex;
        justify-content: space-between;
    }
    .card-info {
        width: 40%;
    }
    .card-description {
        width: 60%;
        margin-top: 0;
    }
    .section-description {
        margin: 50px auto 0 auto;
    }

    .photo-grid-container {
        column-count: 4;
    }
}